* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: linear-gradient(
    90deg,
    rgb(114, 110, 143) 0%,
    rgb(5, 6, 10) 100%
  );
}


h1 {
  background-color: #000000;
  color: white;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background-color: rgb(239, 243, 12);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  font-weight: 500;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(60, 60, 61) 0%,
    rgb(0, 250, 21) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px;
  border: 1px solid rgb(116, 221, 107);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.todo-input::placeholder {
  color: #e2e2e2;
}